figure {
    margin: 0;
    padding: 0;
}

.photography {
    height: 667px;
    width: 375px;
    margin: 0 auto;
}

.photography_nav {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    width: 375px;
    justify-content: space-between;
    background-color: #FFF;
    opacity: .92;
    padding: 5px 15px;
    color: #333;
        h1 {
            margin: 0;
            padding: 0;
            font-size: 30px;
            font-weight: 100;
                span {
                    font-weight: 400;
                }
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 20px;
        }
}

.photography_text-content {
    position: absolute;
    top: 515px;
    left: 50%;
    width: 285px;
    transform: translateX(-50%);
    color: #333;
    text-align: justify;
}

.photography_text-content {
    p {
        background-color: #FFF;
        opacity: .92;
        padding: 10px;
        font-size: 14px;
        letter-spacing: 1px;
    }
}

.photography_images {
    display: grid;
    height: 375px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}